body {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: Verdana, sans-serif;
  line-height: 1.5;
  background-color: #3D3D3D;
  color: #FAE4F7;
  font-size: 18px;
}

.column {
  float: left;
  max-width: 50ch;
  padding: 0ch 1ch 0ch 1ch;
}

a {
  color: #DD43C5;
}

.nvbr {
  width: 100%;
  background-color: #FAE4F7;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.nvbr a {
  float: left;
  text-align: center;
  padding: 15px;
  color: #3D3D3D;
}

/* Change the color of links on hover */
.nvbr a:hover {
  background-color: #DD43C5;
}

/* Add a color to the active/current link */
.nvbr a.active {
  background-color: #DD43C5;
}

h2 {
  color: #DD43C5;
  text-align: center;
}

h3 {
  color: #DD43C5;
}

h1 {
  color: #84849C;
  text-align: center;
}

.fossbox {
    max-width: 78ch;
    margin: auto;
}
